<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <div th:object="${someJob}">
        <table class="job-listing">
            <tr>
                <th>Name</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>Employer</th>
                <td th:text="*{employer}"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td th:text="*{location}"></td>
            </tr>
            <tr>
                <th>Position Type</th>
                <td th:text="*{positionType}"></td>
            </tr>
            <tr>
                <th>Core Competency</th>
                <td th:text="*{coreCompetency}"></td>
            </tr>

    </table>
    </div>
</div>

</body>
</html>